.HTML CSS Result EDIT ON body {
    background: #ecf3f3;
}

.particle {
    position: fixed;
    border-radius: 500%;
}

@-webkit-keyframes particle-animation-1 {
    100% {
        -webkit-transform: translate3d(100vw, 100vh, 5px);
        transform: translate3d(100vw, 100vh, 5px);
    }
}

@keyframes particle-animation-1 {
    100% {
        -webkit-transform: translate3d(100vw, 100vh, 5px);
        transform: translate3d(100vw, 100vh, 5px);
    }
}

.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: 0.1;
    height: 40px;
    width: 40px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    -webkit-transform: translate3d(60vw, 100vh, 82px);
    transform: translate3d(69vw, 100vh, 82px);
    background: #7726d9;
}

@-webkit-keyframes particle-animation-2 {
    100% {
        -webkit-transform: translate3d(6, 55, 2px);
        transform: translate3d(100vw, 55vh, 2px);
    }
}

@keyframes particle-animation-2 {
    100% {
        -webkit-transform: translate3d(60, 90, 2px);
        transform: translate3d(90vw, 55vh, 2px);
    }
}

.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: 0.31;
    height: 40px;
    width: 40px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    -webkit-transform: translate3d(43vw, 76vh, 55px);
    transform: translate3d(43vw, 76vh, 55px);
    background: #d926a9;
}

@-webkit-keyframes particle-animation-3 {
    100% {
        -webkit-transform: translate3d(61vw, 69vh, 3px);
        transform: translate3d(61vw, 69vh, 3px);
    }
}

@keyframes particle-animation-3 {
    100% {
        -webkit-transform: translate3d(61vw, 69vh, 3px);
        transform: translate3d(61vw, 69vh, 3px);
    }
}

.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: 0.86;
    height: 40px;
    width: 40px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    -webkit-transform: translate3d(16vw, 87vh, 6px);
    transform: translate3d(16vw, 87vh, 6px);
    background: #d926cd;
}

@-webkit-keyframes particle-animation-4 {
    100% {
        -webkit-transform: translate3d(39vw, 25vh, 90px);
        transform: translate3d(39vw, 25vh, 90px);
    }
}

@keyframes particle-animation-4 {
    100% {
        -webkit-transform: translate3d(39vw, 25vh, 90px);
        transform: translate3d(39vw, 25vh, 90px);
    }
}

.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: 0.66;
    height: 40px;
    width: 40px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    -webkit-transform: translate3d(49vw, 60vh, 22px);
    transform: translate3d(49vw, 60vh, 22px);
    background: #b8d926;
}

@-webkit-keyframes particle-animation-5 {
    100% {
        -webkit-transform: translate3d(10vw, 87vh, 58px);
        transform: translate3d(10vw, 87vh, 58px);
    }
}

@keyframes particle-animation-5 {
    100% {
        -webkit-transform: translate3d(10vw, 87vh, 58px);
        transform: translate3d(10vw, 87vh, 58px);
    }
}

.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: 0.92;
    height: 40px;
    width: 40px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: translate3d(23vw, 19vh, 51px);
    transform: translate3d(23vw, 19vh, 51px);
    background: #262fd9;
}

@-webkit-keyframes particle-animation-6 {
    100% {
        -webkit-transform: translate3d(18vw, 81vh, 31px);
        transform: translate3d(18vw, 81vh, 31px);
    }
}

@keyframes particle-animation-6 {
    100% {
        -webkit-transform: translate3d(18vw, 81vh, 31px);
        transform: translate3d(18vw, 81vh, 31px);
    }
}

.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: 0.73;
    height: 40px;
    width: 40px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    -webkit-transform: translate3d(9vw, 54vh, 8px);
    transform: translate3d(9vw, 54vh, 8px);
    background: #a026d9;
}